[submodule "pack/git-plugins/start/vim-gitgutter"]
	path = pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/git-plugins/start/vim-better-whitespace"]
	path = pack/git-plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
